/*body layout */
h1 {
	font-family: 'Poiret one', cursive;
	font-size: 45px;
	color: #FF9D9D;
	font-weight: bold; 
	text-align: center;
}



h2 {
	font-family: 'Give You Glory', cursive;
	font-size: 14px;
	color:#6E6565; 
	text-align: center;
	border: inline;
	line-height: 1%;
}




p {
	font-family: 'Poiret One', Verdana;
	color:  #6E6565; 
	font-size: 18px;
	margin-left: 50px;
	letter-spacing: 2px;
	line-height: 1.5em;
	
}

div img {
	margin: 0px 50px 0px 8px;
	padding: 5px;
	float: right;
	vertical-align: top;
	display: inline-block;

}

.titles {
	font-family: 'Give You Glory', Verdana;
	font-style: bold;
	color: #6E6565;
	font-size: 25px;
	padding-left: 50px;
	font-weight: bold;
}

a:link {
	text-decoration: none;
	color:  #6E6565; 

}

.bullet {
	color: #FF9D9D;
	float: left;
	margin-left: 3em;

}

p2 {
	font-family: 'Poiret One', Verdana;
	color:  #6E6565; 
	font-size: 18px;
	letter-spacing: 2px;
	float:right;
	
	


}




/*body layout ends here*/


/*footer begins here*/





footer div nav ul li {
		float:left;
		list-style: none;
		margin-top: 5em;
		margin-left: 1.7em;
		padding-bottom: .5em;
	
		



}



a.bloglink {
	padding-right: 2em;
	padding-top: .6em;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Poiret One', Verdana;
	font-size: 25px;
	color: #FF9D9D;
	display: inline-block;
	float: left;

}









